In [58]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

or:

In [59]:
FWW_flow = pd.read_csv('MunVene2/BORGEN_PUMP0.csv', delimiter=';')

# BÃ¶rger pumpun moottori

- 20 Forward
- 15 Backward
- 0 Stop
- -5 Faul or overcurrent

In [93]:
FWW_flow.head(70)

,VarName,TimeString,VarValue,Validity,Time_ms
0,BORGEN_PUMP_STATUS,20.02.2018 05:10:27,-5,1,"43151215589,7106"
1,BORGEN_PUMP_STATUS,20.02.2018 05:10:29,-5,1,"43151215613,0903"
2,BORGEN_PUMP_STATUS,20.02.2018 05:10:31,-5,1,"43151215636,4931"
3,BORGEN_PUMP_STATUS,20.02.2018 05:10:33,-5,1,"43151215659,8843"
4,BORGEN_PUMP_STATUS,20.02.2018 05:10:35,-5,1,"43151215683,287"
5,BORGEN_PUMP_STATUS,20.02.2018 05:10:37,-5,1,"43151215706,6782"
6,BORGEN_PUMP_STATUS,20.02.2018 05:10:39,-5,1,"43151215730,0694"
7,BORGEN_PUMP_STATUS,20.02.2018 05:10:41,-5,1,"43151215753,4606"
8,BORGEN_PUMP_STATUS,20.02.2018 05:10:43,-5,1,"43151215776,8403"
9,BORGEN_PUMP_STATUS,20.02.2018 05:10:45,-5,1,"43151215800,2431"
10,BORGEN_PUMP_STATUS,20.02.2018 05:10:47,-5,1,"43151215823,6227"
11,BORGEN_PUMP_STATUS,20.02.2018 05:10:49,-5,1,"43151215847,0139"
12,BORGEN_PUMP_STATUS,20.02.2018 05:10:51,-5,1,"43151215870,4051"
13,BORGEN_PUMP_STATUS,20.02.2018 05:10:53,-5,1,"43151215893,7847"
14,BORGEN_PUMP_STATUS,20.02.2018 05:10:55,-5,1,"43151215917,1875"
15,BORGEN_PUMP_STATUS,20.02.2018 05:10:57,-5,1,"43151215940,5671"
16,BORGEN_PUMP_STATUS,20.02.2018 05:10:59,-5,1,"43151215963,9468"
17,BORGEN_PUMP_STATUS,20.02.2018 05:11:01,-5,1,"43151215987,3495"
18,BORGEN_PUMP_STATUS,20.02.2018 05:11:03,-5,1,"43151216010,7407"
19,BORGEN_PUMP_STATUS,20.02.2018 05:11:05,-5,1,"43151216034,1319"
20,BORGEN_PUMP_STATUS,20.02.2018 05:11:07,-5,1,"43151216057,5116"
21,BORGEN_PUMP_STATUS,20.02.2018 05:11:09,-5,1,"43151216080,8912"
22,BORGEN_PUMP_STATUS,20.02.2018 05:11:11,-5,1,"43151216104,2824"
23,BORGEN_PUMP_STATUS,20.02.2018 05:11:13,-5,1,"43151216127,662"
24,BORGEN_PUMP_STATUS,20.02.2018 05:11:15,-5,1,"43151216151,0532"
25,BORGEN_PUMP_STATUS,20.02.2018 05:11:17,-5,1,"43151216174,4444"
26,BORGEN_PUMP_STATUS,20.02.2018 05:11:19,-5,1,"43151216197,8241"
27,BORGEN_PUMP_STATUS,20.02.2018 05:11:22,-5,1,"43151216221,2153"
28,BORGEN_PUMP_STATUS,20.02.2018 05:11:24,-5,1,"43151216244,5949"
29,BORGEN_PUMP_STATUS,20.02.2018 05:11:26,-5,1,"43151216267,9861"
...,...,...,...,...,...
40,BORGEN_PUMP_STATUS,20.02.2018 05:11:48,-5,1,"43151216525,2662"
41,BORGEN_PUMP_STATUS,20.02.2018 05:11:50,-5,1,"43151216548,6458"
42,BORGEN_PUMP_STATUS,20.02.2018 05:11:52,-5,1,"43151216572,0486"
43,BORGEN_PUMP_STATUS,20.02.2018 05:11:54,-5,1,"43151216595,4398"
44,BORGEN_PUMP_STATUS,20.02.2018 05:11:56,-5,1,"43151216618,831"
45,BORGEN_PUMP_STATUS,20.02.2018 05:11:58,-5,1,"43151216642,2222"
46,BORGEN_PUMP_STATUS,20.02.2018 05:12:00,-5,1,"43151216665,6019"
47,BORGEN_PUMP_STATUS,20.02.2018 05:12:02,-5,1,"43151216689,0046"
48,BORGEN_PUMP_STATUS,20.02.2018 05:12:04,-5,1,"43151216712,3843"
49,BORGEN_PUMP_STATUS,20.02.2018 05:12:06,-5,1,"43151216735,7755"
50,BORGEN_PUMP_STATUS,20.02.2018 05:12:08,-5,1,"43151216759,1667"
51,BORGEN_PUMP_STATUS,20.02.2018 05:12:10,-5,1,"43151216782,5463"
52,BORGEN_PUMP_STATUS,20.02.2018 05:12:12,-5,1,"43151216805,9491"
53,BORGEN_PUMP_STATUS,20.02.2018 05:12:14,-5,1,"43151216829,3287"
54,BORGEN_PUMP_STATUS,20.02.2018 05:12:16,-5,1,"43151216852,7199"
55,BORGEN_PUMP_STATUS,20.02.2018 05:12:18,-5,1,"43151216876,0995"
56,BORGEN_PUMP_STATUS,20.02.2018 05:12:20,-5,1,"43151216899,4792"
57,BORGEN_PUMP_STATUS,20.02.2018 05:12:22,-5,1,"43151216922,882"
58,BORGEN_PUMP_STATUS,20.02.2018 05:12:24,-5,1,"43151216946,2731"
59,BORGEN_PUMP_STATUS,20.02.2018 05:12:26,-5,1,"43151216969,6643"
60,BORGEN_PUMP_STATUS,20.02.2018 05:12:28,-5,1,"43151216993,044"
61,BORGEN_PUMP_STATUS,20.02.2018 05:12:30,-5,1,"43151217016,4236"
62,BORGEN_PUMP_STATUS,20.02.2018 05:12:32,-5,1,"43151217039,8264"
63,BORGEN_PUMP_STATUS,20.02.2018 05:12:34,-5,1,"43151217063,206"
64,BORGEN_PUMP_STATUS,20.02.2018 05:12:36,-5,1,"43151217086,5972"
65,BORGEN_PUMP_STATUS,20.02.2018 05:12:38,-5,1,"43151217109,9769"
66,BORGEN_PUMP_STATUS,20.02.2018 05:12:40,-5,1,"43151217133,3681"
67,BORGEN_PUMP_STATUS,20.02.2018 05:12:42,-5,1,"43151217156,7708"
68,BORGEN_PUMP_STATUS,20.02.2018 05:12:44,-5,1,"43151217180,1505"
69,BORGEN_PUMP_STATUS,20.02.2018 05:12:46,-5,1,"43151217203,5532"

In [61]:
FWW_flow.shape

(401195, 5)

In [62]:
FWTank1Level = pd.read_csv('MunVene2/LEVEL_TANK_A0.csv', delimiter=';')

In [94]:
FWTank1Level.head(70)

,VarName,TimeString,VarValue,Validity,Time_ms
0,FOODWASTE_TANK_A_LEVEL_TREND,25.02.2018 16:07:23,47,1,"43156671788,5185"
1,HARSLEV_PUMP_1_1PM_1_STATUS,25.02.2018 16:07:25,20,1,"43156671811,9097"
2,THREEWAY_VALVE_1_1PV4_STATUS,25.02.2018 16:07:25,5,1,"43156671811,9097"
3,HARSLEV_PUMP_1_1PM_1_STATUS,25.02.2018 16:07:27,20,1,"43156671835,2894"
4,THREEWAY_VALVE_1_1PV4_STATUS,25.02.2018 16:07:27,5,1,"43156671835,2894"
5,FOODWASTE_TANK_A_LEVEL_TREND,25.02.2018 16:07:28,47,1,"43156671846,9907"
6,HARSLEV_PUMP_1_1PM_1_STATUS,25.02.2018 16:07:29,20,1,"43156671858,6921"
7,THREEWAY_VALVE_1_1PV4_STATUS,25.02.2018 16:07:29,5,1,"43156671858,6921"
8,HARSLEV_PUMP_1_1PM_1_STATUS,25.02.2018 16:07:31,20,1,"43156671882,0833"
9,THREEWAY_VALVE_1_1PV4_STATUS,25.02.2018 16:07:31,5,1,"43156671882,0833"
10,HARSLEV_PUMP_1_1PM_1_STATUS,25.02.2018 16:07:33,20,1,"43156671905,463"
11,THREEWAY_VALVE_1_1PV4_STATUS,25.02.2018 16:07:33,5,1,"43156671905,463"
12,FOODWASTE_TANK_A_LEVEL_TREND,25.02.2018 16:07:33,47,1,"43156671905,4745"
13,HARSLEV_PUMP_1_1PM_1_STATUS,25.02.2018 16:07:35,20,1,"43156671928,8657"
14,THREEWAY_VALVE_1_1PV4_STATUS,25.02.2018 16:07:35,5,1,"43156671928,8657"
15,HARSLEV_PUMP_1_1PM_1_STATUS,25.02.2018 16:07:37,20,1,"43156671952,257"
16,THREEWAY_VALVE_1_1PV4_STATUS,25.02.2018 16:07:37,5,1,"43156671952,257"
17,FOODWASTE_TANK_A_LEVEL_TREND,25.02.2018 16:07:38,47,1,"43156671963,9583"
18,HARSLEV_PUMP_1_1PM_1_STATUS,25.02.2018 16:07:39,20,1,"43156671975,6597"
19,THREEWAY_VALVE_1_1PV4_STATUS,25.02.2018 16:07:39,5,1,"43156671975,6597"
20,HARSLEV_PUMP_1_1PM_1_STATUS,25.02.2018 16:07:41,20,1,"43156671999,0393"
21,THREEWAY_VALVE_1_1PV4_STATUS,25.02.2018 16:07:41,5,1,"43156671999,0393"
22,HARSLEV_PUMP_1_1PM_1_STATUS,25.02.2018 16:07:43,20,1,"43156672022,4306"
23,THREEWAY_VALVE_1_1PV4_STATUS,25.02.2018 16:07:43,5,1,"43156672022,4306"
24,FOODWASTE_TANK_A_LEVEL_TREND,25.02.2018 16:07:43,47,1,"43156672022,4421"
25,HARSLEV_PUMP_1_1PM_1_STATUS,25.02.2018 16:07:45,20,1,"43156672045,8333"
26,THREEWAY_VALVE_1_1PV4_STATUS,25.02.2018 16:07:45,5,1,"43156672045,8333"
27,HARSLEV_PUMP_1_1PM_1_STATUS,25.02.2018 16:07:47,20,1,"43156672069,213"
28,THREEWAY_VALVE_1_1PV4_STATUS,25.02.2018 16:07:47,5,1,"43156672069,213"
29,FOODWASTE_TANK_A_LEVEL_TREND,25.02.2018 16:07:48,47,1,"43156672080,9028"
...,...,...,...,...,...
40,THREEWAY_VALVE_1_1PV4_STATUS,25.02.2018 16:07:57,5,1,"43156672186,1806"
41,FOODWASTE_TANK_A_LEVEL_TREND,25.02.2018 16:07:58,47,1,"43156672197,8704"
42,HARSLEV_PUMP_1_1PM_1_STATUS,25.02.2018 16:07:59,20,1,"43156672209,5718"
43,THREEWAY_VALVE_1_1PV4_STATUS,25.02.2018 16:07:59,5,1,"43156672209,5718"
44,HARSLEV_PUMP_1_1PM_1_STATUS,25.02.2018 16:08:01,20,1,"43156672232,9514"
45,THREEWAY_VALVE_1_1PV4_STATUS,25.02.2018 16:08:01,5,1,"43156672232,9514"
46,HARSLEV_PUMP_1_1PM_1_STATUS,25.02.2018 16:08:03,20,1,"43156672256,331"
47,THREEWAY_VALVE_1_1PV4_STATUS,25.02.2018 16:08:03,5,1,"43156672256,331"
48,FOODWASTE_TANK_A_LEVEL_TREND,25.02.2018 16:08:03,46,1,"43156672256,3426"
49,HARSLEV_PUMP_1_1PM_1_STATUS,25.02.2018 16:08:05,20,1,"43156672279,7338"
50,THREEWAY_VALVE_1_1PV4_STATUS,25.02.2018 16:08:05,5,1,"43156672279,7338"
51,HARSLEV_PUMP_1_1PM_1_STATUS,25.02.2018 16:08:07,20,1,"43156672303,1134"
52,THREEWAY_VALVE_1_1PV4_STATUS,25.02.2018 16:08:07,5,1,"43156672303,1134"
53,FOODWASTE_TANK_A_LEVEL_TREND,25.02.2018 16:08:08,46,1,"43156672314,8032"
54,HARSLEV_PUMP_1_1PM_1_STATUS,25.02.2018 16:08:09,20,1,"43156672326,5046"
55,THREEWAY_VALVE_1_1PV4_STATUS,25.02.2018 16:08:09,5,1,"43156672326,5046"
56,HARSLEV_PUMP_1_1PM_1_STATUS,25.02.2018 16:08:11,20,1,"43156672349,8958"
57,THREEWAY_VALVE_1_1PV4_STATUS,25.02.2018 16:08:11,5,1,"43156672349,8958"
58,HARSLEV_PUMP_1_1PM_1_STATUS,25.02.2018 16:08:13,20,1,"43156672373,287"
59,THREEWAY_VALVE_1_1PV4_STATUS,25.02.2018 16:08:13,5,1,"43156672373,287"
60,FOODWASTE_TANK_A_LEVEL_TREND,25.02.2018 16:08:13,46,1,"43156672373,2986"
61,HARSLEV_PUMP_1_1PM_1_STATUS,25.02.2018 16:08:15,20,1,"43156672396,6782"
62,THREEWAY_VALVE_1_1PV4_STATUS,25.02.2018 16:08:15,5,1,"43156672396,6782"
63,HARSLEV_PUMP_1_1PM_1_STATUS,25.02.2018 16:08:17,20,1,"43156672420,0579"
64,THREEWAY_VALVE_1_1PV4_STATUS,25.02.2018 16:08:17,5,1,"43156672420,0579"
65,FOODWASTE_TANK_A_LEVEL_TREND,25.02.2018 16:08:18,46,1,"43156672431,7477"
66,HARSLEV_PUMP_1_1PM_1_STATUS,25.02.2018 16:08:19,20,1,"43156672443,4491"
67,THREEWAY_VALVE_1_1PV4_STATUS,25.02.2018 16:08:19,5,1,"43156672443,4491"
68,HARSLEV_PUMP_1_1PM_1_STATUS,25.02.2018 16:08:21,20,1,"43156672466,8287"
69,THREEWAY_VALVE_1_1PV4_STATUS,25.02.2018 16:08:21,5,1,"43156672466,8287"

In [64]:
FWTank1Level.shape

(402860, 5)

In [65]:
BWTankLevel = pd.read_csv('MunVene2/LEVEL_BIOSLUDGETANK0.csv', delimiter=';')

In [95]:
BWTankLevel.head(70)

,VarName,TimeString,VarValue,Validity,Time_ms
0,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:03:26,0,1,"43148877388,0556"
1,BIO_SLUDGE_TANK_LEVEL_TREND,17.02.2018 21:03:26,19,1,"43148877388,0556"
2,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:03:31,0,1,"43148877446,5162"
3,BIO_SLUDGE_TANK_LEVEL_TREND,17.02.2018 21:03:31,19,1,"43148877446,5162"
4,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:03:36,0,1,43148877505
5,BIO_SLUDGE_TANK_LEVEL_TREND,17.02.2018 21:03:36,19,1,43148877505
6,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:03:41,0,1,"43148877563,4606"
7,BIO_SLUDGE_TANK_LEVEL_TREND,17.02.2018 21:03:41,19,1,"43148877563,4606"
8,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:03:47,0,1,"43148877621,9445"
9,BIO_SLUDGE_TANK_LEVEL_TREND,17.02.2018 21:03:47,19,1,"43148877621,956"
10,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:03:52,0,1,"43148877680,4051"
11,BIO_SLUDGE_TANK_LEVEL_TREND,17.02.2018 21:03:52,19,1,"43148877680,4051"
12,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:03:57,0,1,"43148877738,8773"
13,BIO_SLUDGE_TANK_LEVEL_TREND,17.02.2018 21:03:57,19,1,"43148877738,8773"
14,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:04:02,0,1,"43148877797,419"
15,BIO_SLUDGE_TANK_LEVEL_TREND,17.02.2018 21:04:02,19,1,"43148877797,419"
16,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:04:07,0,1,"43148877855,9028"
17,BIO_SLUDGE_TANK_LEVEL_TREND,17.02.2018 21:04:07,19,1,"43148877855,9028"
18,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:04:12,0,1,"43148877914,3866"
19,BIO_SLUDGE_TANK_LEVEL_TREND,17.02.2018 21:04:12,19,1,"43148877914,3866"
20,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:04:17,0,1,"43148877972,8704"
21,BIO_SLUDGE_TANK_LEVEL_TREND,17.02.2018 21:04:17,19,1,"43148877972,8704"
22,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:04:22,0,1,"43148878031,331"
23,BIO_SLUDGE_TANK_LEVEL_TREND,17.02.2018 21:04:22,19,1,"43148878031,331"
24,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:04:27,0,1,"43148878089,8148"
25,BIO_SLUDGE_TANK_LEVEL_TREND,17.02.2018 21:04:27,19,1,"43148878089,8148"
26,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:04:32,0,1,"43148878148,287"
27,BIO_SLUDGE_TANK_LEVEL_TREND,17.02.2018 21:04:32,19,1,"43148878148,287"
28,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:04:37,0,1,"43148878206,7477"
29,BIO_SLUDGE_TANK_LEVEL_TREND,17.02.2018 21:04:37,19,1,"43148878206,7593"
...,...,...,...,...,...
40,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:05:07,0,1,"43148878557,6042"
41,BIO_SLUDGE_TANK_LEVEL_TREND,17.02.2018 21:05:07,19,1,"43148878557,6157"
42,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:05:12,0,1,"43148878616,0648"
43,BIO_SLUDGE_TANK_LEVEL_TREND,17.02.2018 21:05:12,19,1,"43148878616,0648"
44,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:05:17,0,1,"43148878674,5486"
45,BIO_SLUDGE_TANK_LEVEL_TREND,17.02.2018 21:05:17,19,1,"43148878674,5486"
46,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:05:23,0,1,"43148878733,0093"
47,BIO_SLUDGE_TANK_LEVEL_TREND,17.02.2018 21:05:23,19,1,"43148878733,0093"
48,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:05:28,0,1,"43148878791,4815"
49,BIO_SLUDGE_TANK_LEVEL_TREND,17.02.2018 21:05:28,19,1,"43148878791,4815"
50,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:05:33,0,1,"43148878849,9537"
51,BIO_SLUDGE_TANK_LEVEL_TREND,17.02.2018 21:05:33,19,1,"43148878849,9537"
52,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:05:38,0,1,"43148878908,4491"
53,BIO_SLUDGE_TANK_LEVEL_TREND,17.02.2018 21:05:38,19,1,"43148878908,4491"
54,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:05:43,0,1,"43148878966,9213"
55,BIO_SLUDGE_TANK_LEVEL_TREND,17.02.2018 21:05:43,19,1,"43148878966,9213"
56,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:05:48,0,1,"43148879025,3935"
57,BIO_SLUDGE_TANK_LEVEL_TREND,17.02.2018 21:05:48,19,1,"43148879025,3935"
58,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:05:53,0,1,"43148879083,8426"
59,BIO_SLUDGE_TANK_LEVEL_TREND,17.02.2018 21:05:53,19,1,"43148879083,8426"
60,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:05:58,0,1,"43148879142,3148"
61,BIO_SLUDGE_TANK_LEVEL_TREND,17.02.2018 21:05:58,19,1,"43148879142,3264"
62,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:06:03,0,1,"43148879200,7986"
63,BIO_SLUDGE_TANK_LEVEL_TREND,17.02.2018 21:06:03,19,1,"43148879200,7986"
64,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:06:08,0,1,"43148879259,2593"
65,BIO_SLUDGE_TANK_LEVEL_TREND,17.02.2018 21:06:08,19,1,"43148879259,2708"
66,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:06:13,0,1,"43148879317,7431"
67,BIO_SLUDGE_TANK_LEVEL_TREND,17.02.2018 21:06:13,19,1,"43148879317,7431"
68,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:06:18,0,1,"43148879376,2268"
69,BIO_SLUDGE_TANK_LEVEL_TREND,17.02.2018 21:06:18,19,1,"43148879376,2384"

In [67]:
Burner1 = pd.read_csv('MunVene2/BURNER_10.csv', delimiter=';')

## Burner

- 20

In [96]:
Burner1.head(70)

,VarName,TimeString,VarValue,Validity,Time_ms
0,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:27:10,246,1,"43137185531,5972"
1,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:27:15,245,1,"43137185590,081"
2,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:27:20,245,1,"43137185648,5417"
3,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:27:25,245,1,"43137185707,0139"
4,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:27:30,245,1,"43137185765,4745"
5,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:27:35,245,1,"43137185823,9468"
6,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:27:40,244,1,"43137185882,4074"
7,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:27:45,244,1,"43137185940,8796"
8,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:27:50,242,1,"43137185999,3519"
9,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:27:55,242,1,"43137186057,8241"
10,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:28:00,242,1,"43137186116,3079"
11,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:28:06,242,1,"43137186174,7801"
12,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:28:11,242,1,"43137186233,2407"
13,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:28:16,242,1,"43137186291,713"
14,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:28:21,241,1,"43137186350,1852"
15,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:28:26,241,1,"43137186408,669"
16,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:28:31,240,1,"43137186467,1296"
17,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:28:36,240,1,"43137186525,5903"
18,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:28:41,240,1,"43137186584,0509"
19,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:28:46,239,1,"43137186642,5116"
20,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:28:51,239,1,"43137186700,9838"
21,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:28:56,238,1,"43137186759,456"
22,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:29:01,238,1,"43137186817,9398"
23,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:29:06,238,1,"43137186876,412"
24,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:29:11,237,1,"43137186934,8843"
25,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:29:16,237,1,"43137186993,3565"
26,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:29:21,237,1,"43137187051,8171"
27,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:29:26,237,1,"43137187110,3009"
28,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:29:31,237,1,"43137187168,7616"
29,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:29:36,237,1,"43137187227,2222"
...,...,...,...,...,...
40,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:30:32,233,1,"43137187870,4398"
41,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:30:37,233,1,"43137187928,912"
42,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:30:42,233,1,"43137187987,3958"
43,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:30:47,232,1,"43137188045,8565"
44,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:30:52,231,1,"43137188104,3171"
45,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:30:57,232,1,"43137188162,7778"
46,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:31:02,231,1,"43137188221,25"
47,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:31:07,231,1,"43137188279,7222"
48,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:31:12,231,1,"43137188338,1944"
49,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:31:17,231,1,"43137188396,6667"
50,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:31:23,231,1,"43137188455,1505"
51,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:31:28,230,1,"43137188513,6111"
52,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:31:33,230,1,"43137188572,0718"
53,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:31:38,230,1,"43137188630,5671"
54,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:31:43,229,1,"43137188689,0278"
55,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:31:48,229,1,"43137188747,4884"
56,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:31:53,229,1,"43137188805,9606"
57,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:31:58,229,1,"43137188864,4329"
58,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:32:03,229,1,"43137188922,9167"
59,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:32:08,228,1,"43137188981,3773"
60,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:32:13,228,1,"43137189039,838"
61,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:32:18,227,1,"43137189098,3218"
62,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:32:23,227,1,"43137189156,7824"
63,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:32:28,227,1,"43137189215,2431"
64,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:32:33,227,1,"43137189273,7037"
65,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:32:38,227,1,"43137189332,1875"
66,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:32:43,226,1,"43137189390,6481"
67,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:32:48,226,1,"43137189449,132"
68,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:32:53,226,1,"43137189507,6042"
69,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:32:59,226,1,"43137189566,0648"

In [69]:
Burner2 = pd.read_csv('MunVene2/BURNER_20.csv', delimiter=';')

In [97]:
Burner2.head(70)

,VarName,TimeString,VarValue,Validity,Time_ms
0,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:27:10,230,1,"43137185531,5972"
1,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:27:15,230,1,"43137185590,081"
2,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:27:20,229,1,"43137185648,5417"
3,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:27:25,228,1,"43137185707,0139"
4,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:27:30,229,1,"43137185765,4745"
5,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:27:35,228,1,"43137185823,9468"
6,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:27:40,228,1,"43137185882,4074"
7,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:27:45,227,1,"43137185940,8796"
8,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:27:50,227,1,"43137185999,3519"
9,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:27:55,227,1,"43137186057,8241"
10,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:28:00,226,1,"43137186116,3079"
11,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:28:06,226,1,"43137186174,7801"
12,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:28:11,226,1,"43137186233,2407"
13,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:28:16,225,1,"43137186291,713"
14,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:28:21,225,1,"43137186350,1852"
15,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:28:26,225,1,"43137186408,669"
16,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:28:31,225,1,"43137186467,1296"
17,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:28:36,224,1,"43137186525,5903"
18,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:28:41,223,1,"43137186584,0509"
19,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:28:46,223,1,"43137186642,5116"
20,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:28:51,223,1,"43137186700,9838"
21,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:28:56,223,1,"43137186759,456"
22,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:29:01,222,1,"43137186817,9514"
23,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:29:06,222,1,"43137186876,412"
24,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:29:11,222,1,"43137186934,8843"
25,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:29:16,221,1,"43137186993,3565"
26,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:29:21,221,1,"43137187051,8171"
27,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:29:26,221,1,"43137187110,3009"
28,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:29:31,221,1,"43137187168,7616"
29,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:29:36,220,1,"43137187227,2222"
...,...,...,...,...,...
40,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:30:32,216,1,"43137187870,4398"
41,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:30:37,216,1,"43137187928,912"
42,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:30:42,216,1,"43137187987,3958"
43,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:30:47,215,1,"43137188045,8565"
44,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:30:52,215,1,"43137188104,3171"
45,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:30:57,215,1,"43137188162,7778"
46,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:31:02,215,1,"43137188221,25"
47,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:31:07,214,1,"43137188279,7222"
48,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:31:12,214,1,"43137188338,1944"
49,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:31:17,214,1,"43137188396,6667"
50,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:31:23,214,1,"43137188455,1505"
51,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:31:28,213,1,"43137188513,6111"
52,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:31:33,213,1,"43137188572,0718"
53,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:31:38,212,1,"43137188630,5671"
54,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:31:43,212,1,"43137188689,0278"
55,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:31:48,212,1,"43137188747,4884"
56,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:31:53,212,1,"43137188805,9606"
57,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:31:58,211,1,"43137188864,4329"
58,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:32:03,211,1,"43137188922,9167"
59,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:32:08,211,1,"43137188981,3773"
60,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:32:13,211,1,"43137189039,838"
61,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:32:18,210,1,"43137189098,3218"
62,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:32:23,210,1,"43137189156,7824"
63,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:32:28,210,1,"43137189215,2431"
64,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:32:33,210,1,"43137189273,7153"
65,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:32:38,209,1,"43137189332,1875"
66,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:32:43,209,1,"43137189390,6481"
67,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:32:48,208,1,"43137189449,132"
68,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:32:53,208,1,"43137189507,6042"
69,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:32:59,208,1,"43137189566,0648"

In [71]:
Burner2.shape

(400478, 5)

In [72]:
Dryer0 = pd.read_csv('MunVene2/DRYER0.csv', delimiter=';')

In [73]:
Dryer0.shape

(406811, 5)

In [107]:
Dryer0.head(200)

,VarName,TimeString,VarValue,Validity,Time_ms
0,6S1_MOTOR_CURRENT,10.02.2018 14:39:47,"50,07233",1,"43141610965,7639"
1,6S1_MOTOR_CURRENT,10.02.2018 14:39:52,"50,07233",1,"43141611024,213"
2,6S1_MOTOR_CURRENT,10.02.2018 14:39:58,"50,07233",1,"43141611082,6968"
3,6S1_MOTOR_CURRENT,10.02.2018 14:40:03,"50,07233",1,"43141611141,1574"
4,6S1_MOTOR_CURRENT,10.02.2018 14:40:08,"50,07233",1,"43141611199,6296"
5,6S1_MOTOR_CURRENT,10.02.2018 14:40:13,"50,07233",1,"43141611258,0903"
6,6S1_MOTOR_CURRENT,10.02.2018 14:40:18,"50,07233",1,"43141611316,5625"
7,6S1_MOTOR_CURRENT,10.02.2018 14:40:23,"50,07233",1,"43141611375,0231"
8,6S1_MOTOR_CURRENT,10.02.2018 14:40:28,"50,07233",1,"43141611433,4954"
9,6S1_MOTOR_CURRENT,10.02.2018 14:40:33,"50,07233",1,"43141611491,9792"
10,6S1_MOTOR_CURRENT,10.02.2018 14:40:38,"50,07233",1,"43141611550,4514"
11,6S1_MOTOR_CURRENT,10.02.2018 14:40:43,"50,07233",1,"43141611608,912"
12,DRYER_STATUS_PV_TEMPERATURE,10.02.2018 14:40:43,31,1,"43141611611,2616"
13,DRYER_STATUS_PV_PRESSURE,10.02.2018 14:40:43,0,1,"43141611611,2616"
14,DRYER_STATUS_PV_FILL_WEIGHT,10.02.2018 14:40:43,0,1,"43141611611,2616"
15,6S1_MOTOR_CURRENT,10.02.2018 14:40:48,"50,07233",1,"43141611667,3843"
16,6S1_MOTOR_CURRENT,10.02.2018 14:40:53,"50,07233",1,"43141611725,8449"
17,6S1_MOTOR_CURRENT,10.02.2018 14:40:58,"50,07233",1,"43141611784,3171"
18,6S1_MOTOR_CURRENT,10.02.2018 14:41:03,"50,07233",1,"43141611842,7778"
19,6S1_MOTOR_CURRENT,10.02.2018 14:41:08,"50,07233",1,"43141611901,25"
20,6S1_MOTOR_CURRENT,10.02.2018 14:41:13,"50,07233",1,"43141611959,7106"
21,6S1_MOTOR_CURRENT,10.02.2018 14:41:18,"50,07233",1,"43141612018,1829"
22,6S1_MOTOR_CURRENT,10.02.2018 14:41:23,"50,07233",1,"43141612076,6435"
23,6S1_MOTOR_CURRENT,10.02.2018 14:41:28,"50,07233",1,"43141612135,1157"
24,6S1_MOTOR_CURRENT,10.02.2018 14:41:34,"50,07233",1,"43141612193,588"
25,6S1_MOTOR_CURRENT,10.02.2018 14:41:39,"50,07233",1,"43141612252,0602"
26,DRYER_STATUS_PV_TEMPERATURE,10.02.2018 14:41:43,31,1,"43141612305,8449"
27,DRYER_STATUS_PV_PRESSURE,10.02.2018 14:41:43,0,1,"43141612305,8449"
28,DRYER_STATUS_PV_FILL_WEIGHT,10.02.2018 14:41:43,0,1,"43141612305,8449"
29,6S1_MOTOR_CURRENT,10.02.2018 14:41:44,"50,07233",1,"43141612310,5208"
...,...,...,...,...,...
170,6S1_MOTOR_CURRENT,10.02.2018 14:51:20,"50,07233",1,"43141618975,9491"
171,6S1_MOTOR_CURRENT,10.02.2018 14:51:25,"50,07233",1,"43141619034,4213"
172,6S1_MOTOR_CURRENT,10.02.2018 14:51:30,"50,07233",1,"43141619092,8935"
173,6S1_MOTOR_CURRENT,10.02.2018 14:51:35,"50,07233",1,"43141619151,3657"
174,6S1_MOTOR_CURRENT,10.02.2018 14:51:40,"50,07233",1,"43141619209,8264"
175,DRYER_STATUS_PV_TEMPERATURE,10.02.2018 14:51:43,31,1,"43141619250,7523"
176,DRYER_STATUS_PV_PRESSURE,10.02.2018 14:51:43,0,1,"43141619250,7523"
177,DRYER_STATUS_PV_FILL_WEIGHT,10.02.2018 14:51:43,0,1,"43141619250,7523"
178,6S1_MOTOR_CURRENT,10.02.2018 14:51:45,"50,07233",1,"43141619268,2986"
179,6S1_MOTOR_CURRENT,10.02.2018 14:51:50,"50,07233",1,"43141619326,7593"
180,6S1_MOTOR_CURRENT,10.02.2018 14:51:55,"50,07233",1,"43141619385,2315"
181,6S1_MOTOR_CURRENT,10.02.2018 14:52:00,"50,07233",1,"43141619443,7037"
182,6S1_MOTOR_CURRENT,10.02.2018 14:52:05,"50,07233",1,"43141619502,1759"
183,6S1_MOTOR_CURRENT,10.02.2018 14:52:10,"50,07233",1,"43141619560,6366"
184,6S1_MOTOR_CURRENT,10.02.2018 14:52:15,"50,07233",1,"43141619619,1088"
185,6S1_MOTOR_CURRENT,10.02.2018 14:52:20,"50,07233",1,"43141619677,5694"
186,6S1_MOTOR_CURRENT,10.02.2018 14:52:25,"50,07233",1,"43141619736,0417"
187,6S1_MOTOR_CURRENT,10.02.2018 14:52:30,"50,07233",1,"43141619794,5139"
188,6S1_MOTOR_CURRENT,10.02.2018 14:52:35,"50,07233",1,"43141619852,9861"
189,6S1_MOTOR_CURRENT,10.02.2018 14:52:40,"50,07233",1,"43141619911,4468"
190,DRYER_STATUS_PV_TEMPERATURE,10.02.2018 14:52:43,31,1,"43141619945,3588"
191,DRYER_STATUS_PV_PRESSURE,10.02.2018 14:52:43,0,1,"43141619945,3588"
192,DRYER_STATUS_PV_FILL_WEIGHT,10.02.2018 14:52:43,0,1,"43141619945,3588"
193,6S1_MOTOR_CURRENT,10.02.2018 14:52:45,"50,07233",1,"43141619969,919"
194,6S1_MOTOR_CURRENT,10.02.2018 14:52:50,"50,07233",1,"43141620028,3796"
195,6S1_MOTOR_CURRENT,10.02.2018 14:52:56,"50,07233",1,"43141620086,8519"
196,6S1_MOTOR_CURRENT,10.02.2018 14:53:01,"50,07233",1,"43141620145,3241"
197,6S1_MOTOR_CURRENT,10.02.2018 14:53:06,"50,07233",1,"43141620203,7963"
198,6S1_MOTOR_CURRENT,10.02.2018 14:53:11,"50,07233",1,"43141620262,2569"
199,6S1_MOTOR_CURRENT,10.02.2018 14:53:16,"50,07233",1,"43141620320,7292"

In [75]:
FluegasTemp0 = pd.read_csv('MunVene2/FLUEGAS0.csv', delimiter=';')

In [76]:
FluegasTemp0.shape

(400478, 5)

In [99]:
FluegasTemp0.head(70)

,VarName,TimeString,VarValue,Validity,Time_ms
0,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:27:10,75,1,"43137185531,6088"
1,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:27:15,75,1,"43137185590,081"
2,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:27:20,75,1,"43137185648,5417"
3,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:27:25,74,1,"43137185707,0139"
4,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:27:30,74,1,"43137185765,4745"
5,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:27:35,74,1,"43137185823,9468"
6,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:27:40,74,1,"43137185882,4074"
7,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:27:45,74,1,"43137185940,8796"
8,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:27:50,74,1,"43137185999,3519"
9,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:27:55,73,1,"43137186057,8241"
10,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:28:00,73,1,"43137186116,3079"
11,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:28:06,73,1,"43137186174,7801"
12,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:28:11,73,1,"43137186233,2407"
13,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:28:16,73,1,"43137186291,713"
14,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:28:21,73,1,"43137186350,1968"
15,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:28:26,72,1,"43137186408,669"
16,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:28:31,72,1,"43137186467,1296"
17,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:28:36,72,1,"43137186525,5903"
18,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:28:41,72,1,"43137186584,0509"
19,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:28:46,72,1,"43137186642,5116"
20,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:28:51,72,1,"43137186700,9838"
21,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:28:56,71,1,"43137186759,456"
22,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:29:01,71,1,"43137186817,9514"
23,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:29:06,71,1,"43137186876,412"
24,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:29:11,71,1,"43137186934,8843"
25,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:29:16,71,1,"43137186993,3565"
26,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:29:21,70,1,"43137187051,8171"
27,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:29:26,70,1,"43137187110,3009"
28,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:29:31,70,1,"43137187168,7616"
29,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:29:36,70,1,"43137187227,2222"
...,...,...,...,...,...
40,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:30:32,68,1,"43137187870,4514"
41,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:30:37,68,1,"43137187928,912"
42,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:30:42,68,1,"43137187987,3958"
43,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:30:47,68,1,"43137188045,8565"
44,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:30:52,68,1,"43137188104,3171"
45,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:30:57,68,1,"43137188162,7778"
46,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:31:02,68,1,"43137188221,2616"
47,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:31:07,67,1,"43137188279,7222"
48,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:31:12,67,1,"43137188338,206"
49,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:31:17,67,1,"43137188396,6667"
50,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:31:23,67,1,"43137188455,1505"
51,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:31:28,67,1,"43137188513,6111"
52,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:31:33,67,1,"43137188572,0833"
53,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:31:38,67,1,"43137188630,5671"
54,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:31:43,66,1,"43137188689,0278"
55,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:31:48,66,1,"43137188747,4884"
56,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:31:53,66,1,"43137188805,9722"
57,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:31:58,66,1,"43137188864,4329"
58,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:32:03,66,1,"43137188922,9167"
59,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:32:08,66,1,"43137188981,3773"
60,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:32:13,66,1,"43137189039,8495"
61,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:32:18,66,1,"43137189098,3218"
62,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:32:23,65,1,"43137189156,7824"
63,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:32:28,65,1,"43137189215,2431"
64,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:32:33,65,1,"43137189273,7153"
65,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:32:38,65,1,"43137189332,1875"
66,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:32:43,65,1,"43137189390,6481"
67,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:32:48,65,1,"43137189449,132"
68,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:32:53,65,1,"43137189507,6042"
69,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:32:59,64,1,"43137189566,0648"

In [78]:
FluegasFlow0 = pd.read_csv('MunVene2/ID_FAN0.csv', delimiter=';')

In [100]:
FluegasFlow0.head(70)

,VarName,TimeString,VarValue,Validity,Time_ms
0,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:24:51,60,1,"43155892261,2732"
1,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:24:52,60,1,"43155892272,9745"
2,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:24:53,60,1,"43155892284,6644"
3,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:24:54,60,1,"43155892296,3657"
4,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:24:55,60,1,"43155892308,0556"
5,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:24:56,60,1,"43155892319,7569"
6,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:24:57,60,1,"43155892331,4468"
7,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:24:58,60,1,"43155892343,1366"
8,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:24:59,60,1,"43155892354,8264"
9,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:00,60,1,"43155892366,5162"
10,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:01,60,1,"43155892378,2176"
11,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:02,60,1,"43155892389,9074"
12,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:03,60,1,"43155892401,5972"
13,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:05,60,1,"43155892413,287"
14,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:06,60,1,"43155892424,9768"
15,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:07,60,1,"43155892436,6898"
16,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:08,60,1,"43155892448,3796"
17,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:09,60,1,"43155892460,0694"
18,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:10,60,1,"43155892471,7593"
19,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:11,60,1,"43155892483,4491"
20,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:12,60,1,"43155892495,1505"
21,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:13,60,1,"43155892506,8519"
22,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:14,60,1,"43155892518,5417"
23,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:15,60,1,"43155892530,2315"
24,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:16,60,1,"43155892541,9213"
25,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:17,60,1,"43155892553,6343"
26,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:18,60,1,"43155892565,3241"
27,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:19,60,1,"43155892577,0139"
28,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:20,60,1,"43155892588,7037"
29,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:21,60,1,"43155892600,3935"
...,...,...,...,...,...
40,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:32,60,1,"43155892729,0509"
41,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:33,60,1,"43155892740,7523"
42,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:34,60,1,"43155892752,4421"
43,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:35,60,1,"43155892764,1319"
44,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:36,60,1,"43155892775,8218"
45,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:37,60,1,"43155892787,5232"
46,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:38,60,1,"43155892799,213"
47,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:39,60,1,"43155892810,9144"
48,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:40,60,1,"43155892822,6042"
49,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:41,60,1,"43155892834,3056"
50,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:42,60,1,"43155892846,0069"
51,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:43,60,1,"43155892857,7083"
52,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:44,60,1,"43155892869,3981"
53,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:45,60,1,"43155892881,0995"
54,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:46,60,1,"43155892892,7894"
55,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:47,60,1,"43155892904,4907"
56,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:48,60,1,"43155892916,1806"
57,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:49,60,1,"43155892927,8704"
58,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:50,60,1,"43155892939,5602"
59,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:51,60,1,"43155892951,25"
60,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:52,60,1,"43155892962,9514"
61,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:53,60,1,"43155892974,6412"
62,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:54,60,1,"43155892986,331"
63,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:55,60,1,"43155892998,0208"
64,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:56,60,1,"43155893009,7106"
65,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:57,60,1,"43155893021,4236"
66,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:58,60,1,"43155893033,1134"
67,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:25:59,60,1,"43155893044,8148"
68,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:26:00,60,1,"43155893056,5046"
69,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:26:01,60,1,"43155893068,206"

In [80]:
Inc1F0 = pd.read_csv('MunVene2/Inc_1_datalog_functions0.csv', delimiter=';')

In [81]:
Inc1F0.shape

(500000, 5)

In [101]:
Inc1F0.head(70)

,VarName,TimeString,VarValue,Validity,Time_ms
0,inc_1_primary_burner_status,17.02.2018 21:03:15,0,1,"43148877259,4097"
1,inc_1_secondary_burner_status,17.02.2018 21:03:15,-20,1,"43148877259,4097"
2,inc_1_lower_feeding_gate_status,17.02.2018 21:03:15,-10,1,"43148877259,4097"
3,inc_1_medical_flap_status,17.02.2018 21:03:15,-5,1,"43148877259,4097"
4,inc_1_primary_burner_status,17.02.2018 21:03:16,0,1,"43148877271,0995"
5,inc_1_secondary_burner_status,17.02.2018 21:03:16,-20,1,"43148877271,0995"
6,inc_1_lower_feeding_gate_status,17.02.2018 21:03:16,-10,1,"43148877271,0995"
7,inc_1_medical_flap_status,17.02.2018 21:03:16,-5,1,"43148877271,0995"
8,inc_1_primary_burner_status,17.02.2018 21:03:17,0,1,"43148877282,8125"
9,inc_1_secondary_burner_status,17.02.2018 21:03:17,-20,1,"43148877282,8125"
10,inc_1_lower_feeding_gate_status,17.02.2018 21:03:17,-10,1,"43148877282,8125"
11,inc_1_medical_flap_status,17.02.2018 21:03:17,-5,1,"43148877282,8125"
12,inc_1_primary_burner_status,17.02.2018 21:03:18,0,1,"43148877294,5023"
13,inc_1_secondary_burner_status,17.02.2018 21:03:18,-20,1,"43148877294,5023"
14,inc_1_lower_feeding_gate_status,17.02.2018 21:03:18,-10,1,"43148877294,5023"
15,inc_1_medical_flap_status,17.02.2018 21:03:18,-5,1,"43148877294,5023"
16,inc_1_primary_burner_status,17.02.2018 21:03:19,0,1,"43148877306,2037"
17,inc_1_secondary_burner_status,17.02.2018 21:03:19,-20,1,"43148877306,2037"
18,inc_1_lower_feeding_gate_status,17.02.2018 21:03:19,-10,1,"43148877306,2037"
19,inc_1_medical_flap_status,17.02.2018 21:03:19,-5,1,"43148877306,2037"
20,inc_1_primary_burner_status,17.02.2018 21:03:20,0,1,"43148877317,8935"
21,inc_1_secondary_burner_status,17.02.2018 21:03:20,-20,1,"43148877317,8935"
22,inc_1_lower_feeding_gate_status,17.02.2018 21:03:20,-10,1,"43148877317,8935"
23,inc_1_medical_flap_status,17.02.2018 21:03:20,-5,1,"43148877317,8935"
24,inc_1_primary_burner_status,17.02.2018 21:03:21,0,1,"43148877329,5833"
25,inc_1_secondary_burner_status,17.02.2018 21:03:21,-20,1,"43148877329,5833"
26,inc_1_lower_feeding_gate_status,17.02.2018 21:03:21,-10,1,"43148877329,5833"
27,inc_1_medical_flap_status,17.02.2018 21:03:21,-5,1,"43148877329,5833"
28,inc_1_primary_burner_status,17.02.2018 21:03:22,0,1,"43148877341,2847"
29,inc_1_secondary_burner_status,17.02.2018 21:03:22,-20,1,"43148877341,2847"
...,...,...,...,...,...
40,inc_1_primary_burner_status,17.02.2018 21:03:25,0,1,"43148877376,3542"
41,inc_1_secondary_burner_status,17.02.2018 21:03:25,-20,1,"43148877376,3542"
42,inc_1_lower_feeding_gate_status,17.02.2018 21:03:25,-10,1,"43148877376,3542"
43,inc_1_medical_flap_status,17.02.2018 21:03:25,-5,1,"43148877376,3542"
44,inc_1_primary_burner_status,17.02.2018 21:03:26,0,1,"43148877388,044"
45,inc_1_secondary_burner_status,17.02.2018 21:03:26,-20,1,"43148877388,044"
46,inc_1_lower_feeding_gate_status,17.02.2018 21:03:26,-10,1,"43148877388,044"
47,inc_1_medical_flap_status,17.02.2018 21:03:26,-5,1,"43148877388,044"
48,inc_1_primary_burner_status,17.02.2018 21:03:27,0,1,"43148877399,7569"
49,inc_1_secondary_burner_status,17.02.2018 21:03:27,-20,1,"43148877399,7569"
50,inc_1_lower_feeding_gate_status,17.02.2018 21:03:27,-10,1,"43148877399,7569"
51,inc_1_medical_flap_status,17.02.2018 21:03:27,-5,1,"43148877399,7569"
52,inc_1_primary_burner_status,17.02.2018 21:03:28,0,1,"43148877411,4468"
53,inc_1_secondary_burner_status,17.02.2018 21:03:28,-20,1,"43148877411,4468"
54,inc_1_lower_feeding_gate_status,17.02.2018 21:03:28,-10,1,"43148877411,4468"
55,inc_1_medical_flap_status,17.02.2018 21:03:28,-5,1,"43148877411,4468"
56,inc_1_primary_burner_status,17.02.2018 21:03:29,0,1,"43148877423,1366"
57,inc_1_secondary_burner_status,17.02.2018 21:03:29,-20,1,"43148877423,1366"
58,inc_1_lower_feeding_gate_status,17.02.2018 21:03:29,-10,1,"43148877423,1366"
59,inc_1_medical_flap_status,17.02.2018 21:03:29,-5,1,"43148877423,1366"
60,inc_1_primary_burner_status,17.02.2018 21:03:30,0,1,"43148877434,8264"
61,inc_1_secondary_burner_status,17.02.2018 21:03:30,-20,1,"43148877434,8264"
62,inc_1_lower_feeding_gate_status,17.02.2018 21:03:30,-10,1,"43148877434,8264"
63,inc_1_medical_flap_status,17.02.2018 21:03:30,-5,1,"43148877434,8264"
64,inc_1_primary_burner_status,17.02.2018 21:03:31,0,1,"43148877446,5162"
65,inc_1_secondary_burner_status,17.02.2018 21:03:31,-20,1,"43148877446,5162"
66,inc_1_lower_feeding_gate_status,17.02.2018 21:03:31,-10,1,"43148877446,5162"
67,inc_1_medical_flap_status,17.02.2018 21:03:31,-5,1,"43148877446,5162"
68,inc_1_primary_burner_status,17.02.2018 21:03:32,0,1,"43148877458,2176"
69,inc_1_secondary_burner_status,17.02.2018 21:03:32,-20,1,"43148877458,2176"

In [83]:
Inc1F1 = pd.read_csv('MunVene2/Inc_1_datalog_functions1.csv', delimiter=';')

In [102]:
Inc1F1.head(70)

,VarName,TimeString,VarValue,Validity,Time_ms
0,inc_1_primary_burner_status,19.02.2018 08:07:46,0,1,"43150338724,2361"
1,inc_1_secondary_burner_status,19.02.2018 08:07:46,0,1,"43150338724,2361"
2,inc_1_lower_feeding_gate_status,19.02.2018 08:07:46,-10,1,"43150338724,2361"
3,inc_1_medical_flap_status,19.02.2018 08:07:46,-5,1,"43150338724,2361"
4,inc_1_primary_burner_status,19.02.2018 08:07:47,0,1,"43150338735,9259"
5,inc_1_secondary_burner_status,19.02.2018 08:07:47,0,1,"43150338735,9259"
6,inc_1_lower_feeding_gate_status,19.02.2018 08:07:47,-10,1,"43150338735,9259"
7,inc_1_medical_flap_status,19.02.2018 08:07:47,-5,1,"43150338735,9259"
8,inc_1_primary_burner_status,19.02.2018 08:07:48,0,1,"43150338747,6389"
9,inc_1_secondary_burner_status,19.02.2018 08:07:48,0,1,"43150338747,6389"
10,inc_1_lower_feeding_gate_status,19.02.2018 08:07:48,-10,1,"43150338747,6389"
11,inc_1_medical_flap_status,19.02.2018 08:07:48,-5,1,"43150338747,6389"
12,inc_1_primary_burner_status,19.02.2018 08:07:49,0,1,"43150338759,3287"
13,inc_1_secondary_burner_status,19.02.2018 08:07:49,0,1,"43150338759,3287"
14,inc_1_lower_feeding_gate_status,19.02.2018 08:07:49,-10,1,"43150338759,3287"
15,inc_1_medical_flap_status,19.02.2018 08:07:49,-5,1,"43150338759,3287"
16,inc_1_primary_burner_status,19.02.2018 08:07:50,0,1,"43150338771,0185"
17,inc_1_secondary_burner_status,19.02.2018 08:07:50,0,1,"43150338771,0185"
18,inc_1_lower_feeding_gate_status,19.02.2018 08:07:50,-10,1,"43150338771,0185"
19,inc_1_medical_flap_status,19.02.2018 08:07:50,-5,1,"43150338771,0185"
20,inc_1_primary_burner_status,19.02.2018 08:07:51,0,1,"43150338782,7083"
21,inc_1_secondary_burner_status,19.02.2018 08:07:51,0,1,"43150338782,7083"
22,inc_1_lower_feeding_gate_status,19.02.2018 08:07:51,-10,1,"43150338782,7083"
23,inc_1_medical_flap_status,19.02.2018 08:07:51,-5,1,"43150338782,7083"
24,inc_1_primary_burner_status,19.02.2018 08:07:52,0,1,"43150338794,3981"
25,inc_1_secondary_burner_status,19.02.2018 08:07:52,0,1,"43150338794,3981"
26,inc_1_lower_feeding_gate_status,19.02.2018 08:07:52,-10,1,"43150338794,3981"
27,inc_1_medical_flap_status,19.02.2018 08:07:52,-5,1,"43150338794,3981"
28,inc_1_primary_burner_status,19.02.2018 08:07:53,0,1,"43150338806,0995"
29,inc_1_secondary_burner_status,19.02.2018 08:07:53,0,1,"43150338806,0995"
...,...,...,...,...,...
40,inc_1_primary_burner_status,19.02.2018 08:07:56,0,1,"43150338841,169"
41,inc_1_secondary_burner_status,19.02.2018 08:07:56,0,1,"43150338841,169"
42,inc_1_lower_feeding_gate_status,19.02.2018 08:07:56,-10,1,"43150338841,169"
43,inc_1_medical_flap_status,19.02.2018 08:07:56,-5,1,"43150338841,169"
44,inc_1_primary_burner_status,19.02.2018 08:07:57,0,1,"43150338852,8588"
45,inc_1_secondary_burner_status,19.02.2018 08:07:57,0,1,"43150338852,8588"
46,inc_1_lower_feeding_gate_status,19.02.2018 08:07:57,-10,1,"43150338852,8588"
47,inc_1_medical_flap_status,19.02.2018 08:07:57,-5,1,"43150338852,8588"
48,inc_1_primary_burner_status,19.02.2018 08:07:58,0,1,"43150338864,5718"
49,inc_1_secondary_burner_status,19.02.2018 08:07:58,0,1,"43150338864,5718"
50,inc_1_lower_feeding_gate_status,19.02.2018 08:07:58,-10,1,"43150338864,5718"
51,inc_1_medical_flap_status,19.02.2018 08:07:58,-5,1,"43150338864,5718"
52,inc_1_primary_burner_status,19.02.2018 08:07:59,0,1,"43150338876,2616"
53,inc_1_secondary_burner_status,19.02.2018 08:07:59,0,1,"43150338876,2616"
54,inc_1_lower_feeding_gate_status,19.02.2018 08:07:59,-10,1,"43150338876,2616"
55,inc_1_medical_flap_status,19.02.2018 08:07:59,-5,1,"43150338876,2616"
56,inc_1_primary_burner_status,19.02.2018 08:08:00,0,1,"43150338887,9514"
57,inc_1_secondary_burner_status,19.02.2018 08:08:00,0,1,"43150338887,9514"
58,inc_1_lower_feeding_gate_status,19.02.2018 08:08:00,-10,1,"43150338887,9514"
59,inc_1_medical_flap_status,19.02.2018 08:08:00,-5,1,"43150338887,9514"
60,inc_1_primary_burner_status,19.02.2018 08:08:01,0,1,"43150338899,6412"
61,inc_1_secondary_burner_status,19.02.2018 08:08:01,0,1,"43150338899,6412"
62,inc_1_lower_feeding_gate_status,19.02.2018 08:08:01,-10,1,"43150338899,6412"
63,inc_1_medical_flap_status,19.02.2018 08:08:01,-5,1,"43150338899,6412"
64,inc_1_primary_burner_status,19.02.2018 08:08:02,0,1,"43150338911,331"
65,inc_1_secondary_burner_status,19.02.2018 08:08:02,0,1,"43150338911,331"
66,inc_1_lower_feeding_gate_status,19.02.2018 08:08:02,-10,1,"43150338911,331"
67,inc_1_medical_flap_status,19.02.2018 08:08:02,-5,1,"43150338911,331"
68,inc_1_primary_burner_status,19.02.2018 08:08:03,0,1,"43150338923,0324"
69,inc_1_secondary_burner_status,19.02.2018 08:08:03,0,1,"43150338923,0324"

In [85]:
Inc1F1.shape

(500000, 5)

In [86]:
SmokeD = pd.read_csv('MunVene2/Smoke_Density0.csv', delimiter=';')

In [103]:
SmokeD.head(70)

    VarName           TimeString  VarValue  Validity           Time_ms
0  $RT_OFF$  16.10.2017 17:19:30         0         2  43024721871,4236
1  $RT_OFF$  19.10.2017 11:49:01         0         2  43027492372,9282
2  $RT_OFF$  19.10.2017 15:16:09         0         2  43027636215,5324
3  $RT_OFF$  19.10.2017 15:30:41         0         2  43027646310,8796

In [88]:
SmokeD.shape

(4, 5)

In [89]:
UnderP = pd.read_csv('MunVene2/UNDERPRESSURE0.csv', delimiter=';')

In [104]:
UnderP.head(70)

,VarName,TimeString,VarValue,Validity,Time_ms
0,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:27:10,20,1,"43137185531,6088"
1,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:27:15,20,1,"43137185590,081"
2,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:27:20,20,1,"43137185648,5532"
3,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:27:25,20,1,"43137185707,0139"
4,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:27:30,20,1,"43137185765,4745"
5,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:27:35,20,1,"43137185823,9468"
6,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:27:40,20,1,"43137185882,419"
7,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:27:45,20,1,"43137185940,8796"
8,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:27:50,20,1,"43137185999,3634"
9,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:27:55,20,1,"43137186057,8241"
10,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:28:00,20,1,"43137186116,3079"
11,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:28:06,20,1,"43137186174,7801"
12,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:28:11,20,1,"43137186233,2407"
13,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:28:16,20,1,"43137186291,713"
14,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:28:21,20,1,"43137186350,1968"
15,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:28:26,20,1,"43137186408,669"
16,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:28:31,20,1,"43137186467,1296"
17,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:28:36,20,1,"43137186525,5903"
18,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:28:41,20,1,"43137186584,0509"
19,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:28:46,20,1,"43137186642,5116"
20,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:28:51,20,1,"43137186700,9954"
21,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:28:56,20,1,"43137186759,456"
22,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:29:01,20,1,"43137186817,9514"
23,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:29:06,20,1,"43137186876,412"
24,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:29:11,20,1,"43137186934,8958"
25,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:29:16,20,1,"43137186993,3565"
26,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:29:21,20,1,"43137187051,8287"
27,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:29:26,20,1,"43137187110,3009"
28,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:29:31,20,1,"43137187168,7616"
29,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:29:36,20,1,"43137187227,2222"
...,...,...,...,...,...
40,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:30:32,20,1,"43137187870,4514"
41,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:30:37,20,1,"43137187928,912"
42,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:30:42,20,1,"43137187987,3958"
43,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:30:47,20,1,"43137188045,8565"
44,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:30:52,20,1,"43137188104,3171"
45,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:30:57,20,1,"43137188162,7778"
46,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:31:02,20,1,"43137188221,2616"
47,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:31:07,20,1,"43137188279,7222"
48,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:31:12,20,1,"43137188338,206"
49,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:31:17,20,1,"43137188396,6667"
50,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:31:23,20,1,"43137188455,1505"
51,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:31:28,20,1,"43137188513,6111"
52,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:31:33,20,1,"43137188572,0833"
53,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:31:38,20,1,"43137188630,5671"
54,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:31:43,20,1,"43137188689,0278"
55,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:31:48,20,1,"43137188747,4884"
56,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:31:53,20,1,"43137188805,9722"
57,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:31:58,20,1,"43137188864,4329"
58,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:32:03,20,1,"43137188922,9167"
59,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:32:08,20,1,"43137188981,3773"
60,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:32:13,20,1,"43137189039,8495"
61,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:32:18,20,1,"43137189098,3218"
62,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:32:23,20,1,"43137189156,7824"
63,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:32:28,20,1,"43137189215,2431"
64,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:32:33,20,1,"43137189273,7153"
65,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:32:38,20,1,"43137189332,1875"
66,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:32:43,20,1,"43137189390,6481"
67,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:32:48,20,1,"43137189449,132"
68,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:32:53,20,1,"43137189507,6042"
69,INCI1_DB_PV_PV_UNDERPRESSURE,06.02.2018 04:32:59,20,1,"43137189566,0648"

In [91]:
Vacuum0 = pd.read_csv('MunVene2/VACUUM0.csv', delimiter=';')

In [105]:
Vacuum0.head(70)

,VarName,TimeString,VarValue,Validity,Time_ms
0,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:24:51,-29,1,"43155892261,2732"
1,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:24:52,-30,1,"43155892272,9745"
2,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:24:53,-31,1,"43155892284,6644"
3,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:24:54,-31,1,"43155892296,3657"
4,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:24:55,-32,1,"43155892308,0556"
5,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:24:56,-32,1,"43155892319,7569"
6,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:24:57,-33,1,"43155892331,4468"
7,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:24:58,-34,1,"43155892343,1366"
8,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:24:59,-34,1,"43155892354,8264"
9,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:00,-35,1,"43155892366,5162"
10,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:01,-36,1,"43155892378,2176"
11,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:02,-36,1,"43155892389,9074"
12,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:03,-37,1,"43155892401,5972"
13,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:05,-37,1,"43155892413,287"
14,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:06,-37,1,"43155892424,9768"
15,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:07,-38,1,"43155892436,6898"
16,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:08,-39,1,"43155892448,3796"
17,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:09,-39,1,"43155892460,0694"
18,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:10,-39,1,"43155892471,7593"
19,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:11,-40,1,"43155892483,4491"
20,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:12,-40,1,"43155892495,1505"
21,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:13,-40,1,"43155892506,8519"
22,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:14,-41,1,"43155892518,5417"
23,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:15,-41,1,"43155892530,2315"
24,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:16,-41,1,"43155892541,9213"
25,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:17,-42,1,"43155892553,6343"
26,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:18,-42,1,"43155892565,3241"
27,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:19,-42,1,"43155892577,0139"
28,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:20,-43,1,"43155892588,7037"
29,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:21,-43,1,"43155892600,3935"
...,...,...,...,...,...
40,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:32,-46,1,"43155892729,0509"
41,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:33,-46,1,"43155892740,7523"
42,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:34,-46,1,"43155892752,4421"
43,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:35,-46,1,"43155892764,1319"
44,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:36,-47,1,"43155892775,8218"
45,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:37,-47,1,"43155892787,5232"
46,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:38,-47,1,"43155892799,213"
47,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:39,-47,1,"43155892810,9144"
48,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:40,-47,1,"43155892822,6042"
49,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:41,-47,1,"43155892834,3056"
50,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:42,-48,1,"43155892846,0069"
51,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:43,-48,1,"43155892857,7083"
52,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:44,-48,1,"43155892869,3981"
53,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:45,-48,1,"43155892881,0995"
54,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:46,-48,1,"43155892892,7894"
55,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:47,-48,1,"43155892904,4907"
56,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:48,-48,1,"43155892916,1806"
57,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:49,-48,1,"43155892927,8704"
58,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:50,-49,1,"43155892939,5602"
59,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:51,-49,1,"43155892951,25"
60,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:52,-49,1,"43155892962,9514"
61,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:53,-49,1,"43155892974,6412"
62,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:54,-49,1,"43155892986,331"
63,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:55,-49,1,"43155892998,0208"
64,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:56,-49,1,"43155893009,7106"
65,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:57,-49,1,"43155893021,4236"
66,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:58,-50,1,"43155893033,1134"
67,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:25:59,-49,1,"43155893044,8148"
68,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:26:00,-50,1,"43155893056,5046"
69,DEVATEC_DB_PV_PV_VACUUM_INVERSE,24.02.2018 21:26:01,-50,1,"43155893068,206"