How to read xlsx and import time object

In [1]:
import pandas as pd
import datetime

In [7]:
df = pd.read_excel('daily2019-05-05.xlsx')
print(df.columns)
print(df.info())

Index(['Timestamp', 'IW304__FW_Tank_A_LVL_Radar', 'IW306__FW_Tank_B_LVL_Radar',
       'IW308__Bio_Sludge_LVL_Radar', 'IW310__Dried_BIOW_LVL_Radar'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86411 entries, 0 to 86410
Data columns (total 5 columns):
Timestamp                      86411 non-null object
IW304__FW_Tank_A_LVL_Radar     78742 non-null float64
IW306__FW_Tank_B_LVL_Radar     46593 non-null float64
IW308__Bio_Sludge_LVL_Radar    73274 non-null float64
IW310__Dried_BIOW_LVL_Radar    78413 non-null float64
dtypes: float64(4), object(1)
memory usage: 3.3+ MB
None

In [5]:
print(df.Timestamp[0])

2019-05-05T00:00:02.7300000Z

Tämä vaatinee string manipulointia

In [14]:
one_dateTimeObject = datetime.datetime.strptime(df.Timestamp[0],'%Y-%m-%dT%H:%M:%S.%f0%z')
print(type(one_dateTimeObject))
print(one_dateTimeObject)

<class 'datetime.datetime'>
2019-05-05 00:00:02.730000+00:00

In [18]:
df.Timestamp.tail(4)

86407    2019-05-05T23:59:56.7410000Z
86408    2019-05-05T23:59:57.7410000Z
86409    2019-05-05T23:59:58.7410000Z
86410    2019-05-05T23:59:59.7420000Z
Name: Timestamp, dtype: object

In [20]:
df['TimeOK'] = df.Timestamp.apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%dT%H:%M:%S.%f0%z'))

In [21]:
df.TimeOK.tail(4)

86407   2019-05-05 23:59:56.741000+00:00
86408   2019-05-05 23:59:57.741000+00:00
86409   2019-05-05 23:59:58.741000+00:00
86410   2019-05-05 23:59:59.742000+00:00
Name: TimeOK, dtype: datetime64[ns, UTC]