# Data sources

## Connections of the data arrays to the system

### Food waste:

The interface between food and the food as a waste is the vacuum collection sinks in the galley tables. The complete flow of the food waste can be observed:

1. In the vacuum collection pipeline and

2. from the filling rate of the two Food Waste Tanks.

Foodwaste tanks are interconnected on the input side with a 3-way valve. Therefore, the valve data doesn't have any role here. The filling is taking place in turns (by 3-way valve).
- The flow of the FW is:
- - (The change of level(level1 - level2) as % (Tank1 + Tank2) * Tank capacity (=100%)) / (the runtime (level1 - level2))

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

or:

In [6]:
FWTank1Level = pd.read_csv('MunVene2/LEVEL_TANK_A0.csv', delimiter=';')

## Values for the FW tank 

- FW tank level as % filling of the full capacity e.g. 47 % 
- Haarslev FW pump status same as others (20 FWD, 15 BWD, 0 Stop, -5 Fault or overcurrent). 20: pump runs full speed at 60 Hz.
- 3-way valve is directing the FW-flow between 2 tanks

In [26]:
FWTank1Level.head()

,VarName,TimeString,VarValue,Validity,Time_ms
0,FOODWASTE_TANK_A_LEVEL_TREND,25.02.2018 16:07:23,47,1,"43156671788,5185"
1,HARSLEV_PUMP_1_1PM_1_STATUS,25.02.2018 16:07:25,20,1,"43156671811,9097"
2,THREEWAY_VALVE_1_1PV4_STATUS,25.02.2018 16:07:25,5,1,"43156671811,9097"
3,HARSLEV_PUMP_1_1PM_1_STATUS,25.02.2018 16:07:27,20,1,"43156671835,2894"
4,THREEWAY_VALVE_1_1PV4_STATUS,25.02.2018 16:07:27,5,1,"43156671835,2894"

In [38]:
FWTank1Level.tail()

,VarName,TimeString,VarValue,Validity,Time_ms
402855,HARSLEV_PUMP_1_1PM_1_STATUS,01.03.2018 14:19:30,20,1,"43160596875,2315"
402856,THREEWAY_VALVE_1_1PV4_STATUS,01.03.2018 14:19:30,5,1,"43160596875,2315"
402857,FOODWASTE_TANK_A_LEVEL_TREND,01.03.2018 14:19:31,33,1,"43160596886,9329"
402858,HARSLEV_PUMP_1_1PM_1_STATUS,01.03.2018 14:19:32,20,1,"43160596898,6343"
402859,THREEWAY_VALVE_1_1PV4_STATUS,01.03.2018 14:19:32,5,1,"43160596898,6343"

## Division of the Food Waste flows 

The produced food waste is separated with a mesh in the tank into:

1. Solid food waste (FW)

2. Food waste water (FWW)

### Food Waste solids (FW)

FW is pumped with the Haarslew pump to the screen and further to the drier. As mentioned above, the variable value of 20 tells that the pump is producing with its capacity. The FW flow can be calculated directly from the data as: 

(flow capacity the pump (e.g. 2 kg / s)) / ( moment of first instance of VarValue 20 and moment of last instance of the VarValue 20)

### Food Waste water (FWW)

This data describes the flow of load in liquid form out of the waste system.

tank water pump 

- 20 Forward
- 15 Backward
- 0 Stop
- -5 Fault or overcurrent

No Hz info presumably 60 Hz

The FWW flow can be calculated directly from the data as: 

(flow capacity the pump (e.g. 20 kg / s)) / ( moment of first instance of VarValue 20 and moment of last instance of the VarValue 20)

The carbon can be considered as direct CO2- and nutrient emmision to the environment. All the carbon in the FW water are converted into CO2.

In [3]:
FWW_flow = pd.read_csv('MunVene2/BORGEN_PUMP0.csv', delimiter=';')

In [35]:
FWW_flow.head()

,VarName,TimeString,VarValue,Validity,Time_ms
0,BORGEN_PUMP_STATUS,20.02.2018 05:10:27,-5,1,"43151215589,7106"
1,BORGEN_PUMP_STATUS,20.02.2018 05:10:29,-5,1,"43151215613,0903"
2,BORGEN_PUMP_STATUS,20.02.2018 05:10:31,-5,1,"43151215636,4931"
3,BORGEN_PUMP_STATUS,20.02.2018 05:10:33,-5,1,"43151215659,8843"
4,BORGEN_PUMP_STATUS,20.02.2018 05:10:35,-5,1,"43151215683,287"

In [36]:
FWW_flow.tail()

,VarName,TimeString,VarValue,Validity,Time_ms
401190,BORGEN_PUMP_STATUS,01.03.2018 14:19:24,-5,1,"43160596805,0694"
401191,BORGEN_PUMP_STATUS,01.03.2018 14:19:26,-5,1,"43160596828,4491"
401192,BORGEN_PUMP_STATUS,01.03.2018 14:19:28,-5,1,"43160596851,8519"
401193,BORGEN_PUMP_STATUS,01.03.2018 14:19:30,-5,1,"43160596875,2315"
401194,BORGEN_PUMP_STATUS,01.03.2018 14:19:32,-5,1,"43160596898,6343"

## Values for the Biosludge tank:

- Biosludge mixing status: 0 = stop, 20 FWD, -5 Fail) 
- Biosludge tank level: as % filling of the full capacity e.g. 19 %

In [9]:
BWTankLevel = pd.read_csv('MunVene2/LEVEL_BIOSLUDGETANK0.csv', delimiter=';')

In [10]:
BWTankLevel.head()

,VarName,TimeString,VarValue,Validity,Time_ms
0,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:03:26,0,1,"43148877388,0556"
1,BIO_SLUDGE_TANK_LEVEL_TREND,17.02.2018 21:03:26,19,1,"43148877388,0556"
2,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:03:31,0,1,"43148877446,5162"
3,BIO_SLUDGE_TANK_LEVEL_TREND,17.02.2018 21:03:31,19,1,"43148877446,5162"
4,BIO_SLUDGE_MIXING_STATUS,17.02.2018 21:03:36,0,1,43148877505

In [39]:
BWTankLevel.tail()

,VarName,TimeString,VarValue,Validity,Time_ms
400947,BIO_SLUDGE_TANK_LEVEL_TREND,01.03.2018 14:19:21,26,1,"43160596769,9884"
400948,BIO_SLUDGE_MIXING_STATUS,01.03.2018 14:19:26,0,1,"43160596828,4606"
400949,BIO_SLUDGE_TANK_LEVEL_TREND,01.03.2018 14:19:26,26,1,"43160596828,4606"
400950,BIO_SLUDGE_MIXING_STATUS,01.03.2018 14:19:31,0,1,"43160596886,9329"
400951,BIO_SLUDGE_TANK_LEVEL_TREND,01.03.2018 14:19:31,26,1,"43160596886,9329"

## Values for the Burners:

- All temperatures in the main and sec chambers as Celsius degrees

In [11]:
Burner1 = pd.read_csv('MunVene2/BURNER_10.csv', delimiter=';')

In [28]:
Burner1.head()

,VarName,TimeString,VarValue,Validity,Time_ms
0,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:27:10,246,1,"43137185531,5972"
1,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:27:15,245,1,"43137185590,081"
2,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:27:20,245,1,"43137185648,5417"
3,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:27:25,245,1,"43137185707,0139"
4,INCI1_DB_PV_MAIN_CHAMBER,06.02.2018 04:27:30,245,1,"43137185765,4745"

In [13]:
Burner2 = pd.read_csv('MunVene2/BURNER_20.csv', delimiter=';')

In [32]:
Burner2.head()

,VarName,TimeString,VarValue,Validity,Time_ms
0,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:27:10,230,1,"43137185531,5972"
1,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:27:15,230,1,"43137185590,081"
2,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:27:20,229,1,"43137185648,5417"
3,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:27:25,228,1,"43137185707,0139"
4,INCI1_DB_PV_SECOND_CHAMBER,06.02.2018 04:27:30,229,1,"43137185765,4745"

In [15]:
Burner2.shape

(400478, 5)

In [16]:
Dryer0 = pd.read_csv('MunVene2/DRYER0.csv', delimiter=';')

## Values for the Dryer:

- Dryer mixer motor current as %, e.g. 50 %
- Dryer temperature as Celcius degrees
- Dryer pressure as mbar
- Dryer filling weight as kgs

In [17]:
Dryer0.shape

(406811, 5)

In [18]:
Dryer0.head(20)

,VarName,TimeString,VarValue,Validity,Time_ms
0,6S1_MOTOR_CURRENT,10.02.2018 14:39:47,"50,07233",1,"43141610965,7639"
1,6S1_MOTOR_CURRENT,10.02.2018 14:39:52,"50,07233",1,"43141611024,213"
2,6S1_MOTOR_CURRENT,10.02.2018 14:39:58,"50,07233",1,"43141611082,6968"
3,6S1_MOTOR_CURRENT,10.02.2018 14:40:03,"50,07233",1,"43141611141,1574"
4,6S1_MOTOR_CURRENT,10.02.2018 14:40:08,"50,07233",1,"43141611199,6296"
5,6S1_MOTOR_CURRENT,10.02.2018 14:40:13,"50,07233",1,"43141611258,0903"
6,6S1_MOTOR_CURRENT,10.02.2018 14:40:18,"50,07233",1,"43141611316,5625"
7,6S1_MOTOR_CURRENT,10.02.2018 14:40:23,"50,07233",1,"43141611375,0231"
8,6S1_MOTOR_CURRENT,10.02.2018 14:40:28,"50,07233",1,"43141611433,4954"
9,6S1_MOTOR_CURRENT,10.02.2018 14:40:33,"50,07233",1,"43141611491,9792"
10,6S1_MOTOR_CURRENT,10.02.2018 14:40:38,"50,07233",1,"43141611550,4514"
11,6S1_MOTOR_CURRENT,10.02.2018 14:40:43,"50,07233",1,"43141611608,912"
12,DRYER_STATUS_PV_TEMPERATURE,10.02.2018 14:40:43,31,1,"43141611611,2616"
13,DRYER_STATUS_PV_PRESSURE,10.02.2018 14:40:43,0,1,"43141611611,2616"
14,DRYER_STATUS_PV_FILL_WEIGHT,10.02.2018 14:40:43,0,1,"43141611611,2616"
15,6S1_MOTOR_CURRENT,10.02.2018 14:40:48,"50,07233",1,"43141611667,3843"
16,6S1_MOTOR_CURRENT,10.02.2018 14:40:53,"50,07233",1,"43141611725,8449"
17,6S1_MOTOR_CURRENT,10.02.2018 14:40:58,"50,07233",1,"43141611784,3171"
18,6S1_MOTOR_CURRENT,10.02.2018 14:41:03,"50,07233",1,"43141611842,7778"
19,6S1_MOTOR_CURRENT,10.02.2018 14:41:08,"50,07233",1,"43141611901,25"

In [19]:
FluegasTemp0 = pd.read_csv('MunVene2/FLUEGAS0.csv', delimiter=';')

## Values for the Flue gas:

- Flue gas temperature as Celcius degrees.
- Flue gas fan speed as Hz (or 1/10 Hz). Check!
- Flue gas opacity as 0 to 100 %

In [20]:
FluegasTemp0.shape

(400478, 5)

In [21]:
FluegasTemp0.head()

,VarName,TimeString,VarValue,Validity,Time_ms
0,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:27:10,75,1,"43137185531,6088"
1,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:27:15,75,1,"43137185590,081"
2,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:27:20,75,1,"43137185648,5417"
3,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:27:25,74,1,"43137185707,0139"
4,INCI1_DB_PV_FLUEGAS_TEMPERATURE,06.02.2018 04:27:30,74,1,"43137185765,4745"

In [22]:
FluegasFlow0 = pd.read_csv('MunVene2/ID_FAN0.csv', delimiter=';')

In [23]:
FluegasFlow0.head()

,VarName,TimeString,VarValue,Validity,Time_ms
0,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:24:51,60,1,"43155892261,2732"
1,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:24:52,60,1,"43155892272,9745"
2,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:24:53,60,1,"43155892284,6644"
3,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:24:54,60,1,"43155892296,3657"
4,INCI1_DB_PV_IDFAN_SPEED,24.02.2018 21:24:55,60,1,"43155892308,0556"